<div class="flex items-center justify-between space-x-2">
  <span class="inline-block rounded-full bg-neutral-700 px-3 py-1 text-xs text-neutral-300">Badge</span>
  <span class="inline-block rounded-full bg-green-950 px-3 py-1 text-xs text-green-300">Success</span>
  <span class="inline-block rounded-full bg-blue-950 px-3 py-1 text-xs text-blue-300">Info</span>
  <span class="inline-block rounded-full bg-yellow-950 px-3 py-1 text-xs text-yellow-300">Warning</span>
  <span class="inline-block rounded-full bg-red-950 px-3 py-1 text-xs text-red-300">Error</span>
</div>
