<div class="flex items-center space-x-4">
  <span
    class="rounded-lg border border-blue-600 bg-blue-100 px-2 py-1 text-sm whitespace-nowrap text-blue-600 dark:border-blue-400 dark:bg-blue-900 dark:text-blue-400"
  >
    Info
  </span>
  <span
    class="rounded-lg border border-green-600 bg-green-100 px-2 py-1 text-sm whitespace-nowrap text-green-600 dark:border-green-400 dark:bg-green-900 dark:text-green-400"
  >
    Success
  </span>
  <span
    class="rounded-lg border border-yellow-600 bg-yellow-100 px-2 py-1 text-sm whitespace-nowrap text-yellow-600 dark:border-yellow-400 dark:bg-yellow-900 dark:text-yellow-400"
  >
    Warning
  </span>
  <span
    class="rounded-lg border border-red-600 bg-red-100 px-2 py-1 text-sm whitespace-nowrap text-red-600 dark:border-red-400 dark:bg-red-900 dark:text-red-400"
  >
    Error
  </span>
</div>
