<div class="flex items-center justify-between space-x-2">
  <span class="flex items-center justify-center gap-1 rounded-full bg-neutral-700 py-1 pr-2 pl-1 text-xs text-neutral-300">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-circle-check-icon lucide-circle-check text-neutral-500"
    >
      <circle cx="12" cy="12" r="10" />
      <path d="m9 12 2 2 4-4" />
    </svg>
    Badge
  </span>
</div>
